
body {
	font-size: 12pt;
	xcolor: #333;
	xbackground: #eee;
	color: var(--color-combination-1-foreground);
}

a {
	color: #5865b3;
}
a:hover {
	color: #737fbf;
	xtext-shadow: 0 0 1pt rgba(68, 34, 238, 0.2);	
}

/*
		#h {
			padding: 20pt 80pt 5pt 40pt;
			background: #fff url(logo2.png) 48pt 25pt no-repeat;
		}
			#h h1 {
				color: #666;
				margin-bottom: 10pt;
				margin-left: 162pt;
				font-weight: normal;
			}
			#h h2 {
				color: #9933ff;
				margin-bottom: 5pt;
				margin-right: 20pt;
				font-weight: normal;
				margin-top: 8pt;
				text-align: center;
			}
				#h h2 i {
					font-style: italic;
				}
				#h h2 i,
				#h h2 b {
					padding: 0 5pt;
				}
			#h form {
				display: block;
				position: relative;
			}
			#h input[type="text"] {
				width: 100%;
				border: solid 1pt #666;
				padding: 3pt 6pt 3pt 160pt;
				xborder-radius: 5pt 0 0 5pt;
				font-size: 200%;
				box-shadow: 0 0 10pt #ccc;
				z-index: 1;
				position: relative;
				background: rgba(255,255,255,0.3);
			}
			#h input[type="text"]:focus {
				background: rgba(255,255,255,0.9);            
			}
			#h input[type="submit"] {
				width: auto;
				border: none;
				padding: 3pt 6pt 3pt 7pt;
				background: #9933ff;
				color: #fff;
				font-size: 120%;
				font-weight: bolder;
				letter-spacing: 2pt;
				z-index: 2;
				position: absolute;
				right: 6pt;
				top: 6pt;
				text-align: center;
			}
			#h input[type="submit"]:hover {
				background: #444;
				cursor: pointer;
			}
*/

#top {
	top: 0;
	left: 0;
	width: 100%;
	height: 60pt;
	border-bottom: solid 2pt var(--page-background-color); #ddd;
	background: #353058; #fff;	
	box-shadow: 0 0 1.5em rgba(0,0,0,0.2); #ccc;
	padding: 12pt;
	z-index: 1;
}
	#logo {
		top: 15pt;
		left: 56pt;
	}
		#logo img {
			height: 26pt;
		}
	#menu {
		width: 46pt;
	}
		#menu img {
			margin-top: 7.5pt;
			margin-left: 8pt;
			height: 16pt;
			xopacity: 0.5;
			filter: invert(100%);
		}
		#menu img:hover {
			xopacity: 0.6;
		}
	#find {
		
	}
		#find form {
			max-width: 100%;
			margin: 0;
			margin-left: 142pt;
			margin-top: 2pt;
		}
			#findbox {
				height: 28pt;
				font-size: 12pt;
				background: #302a4c;
				xborder: 0.1em solid #666;
				border: none;
				padding: 0.5em 0.6em;
				box-shadow: inset 0 0.1em 0 #222;
			}
			#find:hover #findbox,
			#find:focus #findbox {
				xbox-shadow: inset 0 0 1pt 2pt #333; #eee;
			}
			#findbutt {
				width: auto;
				text-align: center;
				font-weight: bold;
				xtop: 1px;
				right: -4em;
				margin: 0;
				padding: 4pt;
				font-size: 12pt;
				xopacity: 0.7;
				background-color: transparent;
				border: solid 0.2em #4f5a98;
				color: #eee;
			}
			#find:hover #findbutt,
			#find:focus #findbutt {
				xopacity: 1;
				color: #fff;
			}
	#topright {
		margin-left: 60pt;
		margin-top: 5pt;
		width: 280pt;
		flex-grow: 0;
		text-align: right;
	}
		#topright a {
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			position: relative;
			xwidth: 30pt;
			margin-bottom: 3pt;
			margin-left: 10pt;
		}
		#topright a:first-child {
			xwidth: 170pt;
		}
			#topright a span {
				display: block;
				position: absolute;
				bottom: -12pt;
				left: 0;
				font-size: 9pt;
				xcolor: var(--color-combination-1-foreground); #999;
				text-shadow: none;
			}

a.emph {
	color: var(--color-combination-3-foreground) !important;
}
a.emph:hover {
	color: var(--color-combination-3-foreground) !important;
	text-shadow: 0 0 1pt rgba(255,50,50,0.2) !important;
}
			
			
.pill {
	color: var(--color-combination-1-foreground); #999;
	display: block;
	position: absolute;
	bottom: 0pt;
	right: 10pt;
}
#popout {
	top: 0;
	left: 0;
	height: 100%;
	width: 200pt;
	border-top: solid 60pt #333; #eee;
	background: #2c2b4a; #eee;		
	xborder-right: solid 1pt #4a4a68;
	overflow: hidden;
	color: var(--color-combination-1-foreground); #999;
	xbox-shadow: 0 0.1em 1.5em #11090e;
	box-shadow: 0 0 1.5em #111;
}
#popout:hover {
	overflow-y: auto;
}
	#popout ul,
	#popout li {
		list-style-type: none;
	}
	#popout li {
		padding: 12pt 12pt 0;
		position: relative;
	}
	#popout li a {
		xcolor: var(--color-combination-1-foreground); #333;
		text-decoration: none;
		display: block;
		margin-right: 50pt;
	}
	#popout li a.cur {
		color: var(--color-combination-3-foreground); #000;
		text-shadow: 0 0 3pt rgba(0,0,0,0.5);
		font-weight: bold;
	}
	#popout li a:hover {
		xcolor: var(--color-combination-3-foreground); #000;
	}
	#popout a.icn {
		background-position: 0 0;
		background-size: 16pt 16pt;
		background-repeat: no-repeat;
		xpadding-left: 24pt;
		padding-top: 2pt;
		display: block;
	}
		#popout a.icn > i {
			margin-top: -3pt;
			display: inline-block;
			width: 1.2em;
		}
	#popout a.emph {
		font-style: italic;
	}
	#popout > ul {
	}
		#popout > ul > li {
			width: 180pt;
		}
		#popout > ul > li.sep {
			display: block;
			border-bottom: solid 2pt var(--page-background-color); #15151e; #ddd;
			padding-bottom: 12pt;
			width: 200pt;	
		}
			#popout > ul > li > ul {
				font-size: 80%;
				margin-left: 16pt;
			}
				#popout > ul > li > ul > li {
					padding: 8pt 8pt 0;				
				}
					#popout > ul > li > ul > li > a {
					}
	#popout p {
		font-size: 10pt;
		padding: 12pt;
		xopacity: 0.6;
	}
	/*
	#popout p:first-child {
		padding-bottom: 0;
		padding-left: 12pt;
		color: #fff;
		background: #509;
		width: 180pt;
		font-size: 75%;
		font-weight: bold;
		letter-spacing: 1pt;
		text-align: right;
	}
	*/

.gallery {
	position: relative;
	box-shadow: 0 0 1.5em #000;
}
	.gallery > div {
		position: relative;
	}
		.gallery .fullscreen {
			background: rgba(255,255,255,0.6) url(icons/ic_open_in_new_black_48dp.png) 2pt 2pt no-repeat;
			background-size: 14pt 14pt;
			display: block;
			position: absolute;
			right: 5pt;
			top: 5pt;
			color: var(--color-combination-1-foreground); rgba(0,0,0,0);
			overflow: hidden;
			width: 17pt;
			height: 18pt;
			border-radius: 2pt;
			text-decoration: none;
		}
		.gallery .fullscreen:hover {
			text-shadow: none;
			background-color: rgba(255,255,255,0.8);
		}

	.gallery > ul {
		position: absolute;
		left: 0;
		bottom: 10pt;
		width: 100%;
		text-align: center;
	}
		.gallery > ul li {
			background: rgba(0,0,0,0.8);
			display: inline-block;
			color: var(--color-combination-1-foreground); rgba(0,0,0,0);
			overflow: hidden;
			padding: 3pt 5pt;			
			text-decoration: none;
			margin-right: 1px;
		}
		.gallery > ul li:hover {
			background: rgba(0,0,0,0.6);			
		}
		.gallery > ul li:first-child {
			border-radius: 20pt 0 0 20pt;			
			padding-left: 10pt;
		}
		.gallery > ul li:last-child {
			border-radius: 0 20pt 20pt 0;
			padding-right: 10pt;
		}
			.gallery > ul a {
				text-decoration: none;
				color: var(--color-combination-1-foreground); #fff;
			}
	
#center {
	margin-top: 60pt;
	margin-left: 200pt;
	background: var(--page-background-color); #fff;
	padding: 20pt 12pt;
	z-index: 0;
	xbox-shadow: inset 0 0 1.5em #111; #ccc;
	xtransition: margin-left 0.5s;
}
	#left {
		margin-right: 20pt;
		float: left;
	}
		#left .gallery {
			
		}
	
		#left h2 {
			margin: 15pt 0;
			font-size: 14pt;
			font-weight: normal;
			color: var(--color-combination-1-foreground); #333;
		}
		#left #descnav {
			display: block;
			text-align: right;
		}
			#left #descnav li {
				display: inline-block;
				margin: 0 10pt 10pt;
				font-size: 12pt;
			}
				#left #descnav li a {
					text-decoration: none;
					color: #42e;
				}
				#left #descnav li a:hover {
					color: #20c;
				}
		#left #desc {
			padding: 15pt 0;
			border-top: solid 1pt #eee;			
			border-bottom: solid 1pt #eee;			
		}
		#left > h3 {
			margin: 15pt 0;
			font-size: 14pt;
			font-weight: normal;
			color: var(--color-combination-1-foreground); #333;
		}
		#left > h4 {
			margin: 15pt 0 5pt;
			font-size: 13pt;
			font-weight: normal;
			color: var(--color-combination-1-foreground); #999;
		}
		#left > p {
			margin: 5pt 0;
		}
			#detailfix {
				top: 0;
				left: 0;
			}
				#detailfix > div {
					background: #fff;
					padding: 20pt;
					width: 100%;
					z-index: 500;
				}
		
			#results {
				position: absolute;
				margin-right: 320pt;
			}
	
	#right {
		width: 300pt;
		float: right;
		flex-grow: 0 !important;
	}
		#right h2 {
			margin: 15pt 0;
			padding-top: 15pt;
			border-top: solid 1pt #666; #eee;
			font-size: 12pt;
			font-weight: normal;
			color: var(--color-combination-1-foreground); #000;
		}
		#right h2:first-child {
			padding-top: 0;
			border-top: none;
			margin-top: 0;
		}

.microad {
	clear: both;
	margin-bottom: 10pt;
	height: 55pt;
}
	.microad a {
		text-decoration: none;
		color: var(--color-combination-1-foreground); #333;
	}
	.microad > a {
		display: block;
		position: relative;
		width: 30%;
		float: left;
		box-shadow: 0 0 1em #000;
	}
		.microad > a > img {
			display: block;
			height: auto;
		}
		.microad > a > span {
			background: rgba(0,0,0,0.6);
			display: block;
			position: absolute;
			bottom: 3pt;
			right: 3pt;
			padding: 1pt 5pt 1.2pt;
			color: var(--color-combination-1-foreground); #fff;
			font-size: 10pt;
			border-radius: 2pt;
		}
	.microad > h3 {
		width: 67%;
		float: right;
		font-size: 11pt;
		font-weight: normal;
		padding: 0;
		margin-top: -2pt;
	}
	.microad > p {
		width: 67%;
		float: right;
		font-size: 10pt;
		padding: 0;
		color: var(--color-combination-1-foreground); #999;
		margin: 5pt 0;
	}

.shortads {
	justify-content: flex-start !important;
}
.shortad {
	padding-right: 10pt;
	padding-bottom: 10pt;
	min-width: 80pt;
	max-width: 200pt;
	flex-grow: 6 !important;
	flex-basis: auto;
}
.shortad:last-child {
	flex-grow: 100 !important;
}
	.shortad a {
		text-decoration: none;
	}
	.shortad > a {
		display: block;
		position: relative;
	}
		.shortad > a > img {
			display: block;
			width: 100%;
			height: auto;
		}
		.shortad > a > span {
			background: rgba(0,0,0,0.6);
			display: block;
			position: absolute;
			bottom: 3pt;
			right: 3pt;
			padding: 1pt 5pt 1.2pt;
			color: var(--color-combination-1-foreground); #fff;
			font-size: 10pt;
			border-radius: 2pt;
		}
	.shortad > h3 {
		font-size: 11pt;
		font-weight: bold;
		padding: 10pt 0 0;
	}
	.shortad > p {
		font-size: 10pt;
		padding: 0;
		color: var(--color-combination-1-foreground); #999;
	}


		